<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Vue</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
      <div id="app">
        <h1>Stories</h1>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Plot</th>
                <th>Writer</th>
                <th>Upvotes</th>
                <th>Actions</th>
            </tr>
            <!-- <story v-for="story in stories" :story="story"></story> -->
            <tr v-for="story in stories" is="story" :story="story"></tr>
        </table>
        <p class="lead">Hear's a list of all your stories.
            <button @click="createStory()" class="btn btn-primary">
                Add a new one?
            </button>
        </p>
      </div>
  </body>
  <template id="template-story-raw">
      <tr>
          <td>{{ story.id }}</td>
          <td>
              <input v-if="story.editing" v-model="story.plot" class="form-control"></input>
              <span v-else>{{ story.plot }}</span>
          </td>
          <td>
              <input v-if="story.editing" v-model="story.writer" class="form-control">
              <span v-else>{{ story.writer }}</span>
          </td>
          <td>{{ story.upvotes }}</td>
          <td>
              <div v-if="!story.editing" class="btn-group">
                  <button class="btn btn-primary" @click="upvoteStory(story)">
                      Upvote
                  </button>
                  <button class="btn btn-default" @click="editStory(story)">
                      Edit
                  </button>
                  <button class="btn btn-danger" @click="deleteStory(story)">
                      Delete
                  </button>
              </div>
              <div v-else class="btn-group">
                  <button v-if="story.id" class="btn btn-primary" @click="updateStory(story)">
                      Update Story
                  </button>
                  <button v-else class="btn btn-success" @click="storeStory(story)">
                      Save New Story
                  </button>
                  <button class="btn btn-default" @click="cancleStory(story)">
                      Cancle
                  </button>
              </div>
          </td>
      </tr>
  </template>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
  <script type="text/javascript">
   Vue.component("story", {
        template : "#template-story-raw",
        props : ["story"],
        methods : {
            upvoteStory : function(story) {
                story.upvotes++;
                this.$http.put('http://localhost:3000/api/stories/' + story.id, story)
            },
            editStory : function(story) {
                story.editing = true;
                story.resetPlot = story.plot;
                story.resetWriter = story.writer;
            },
            updateStory : function(story) {
                this.$http.put('http://localhost:3000/api/stories/' + story.id, story)
                story.editing = false;
            },
            cancleStory : function(story) {
                story.editing = false;
                story.plot = story.resetPlot;
                story.writer = story.resetWriter;
            },
            deleteStory : function(story) {
                var index = this.$parent.stories.indexOf(story)
                this.$parent.stories.splice(index, 1)
                this.$http.delete('http://localhost:3000/api/stories/' + story.id, story)
            },
            storeStory : function(story) {
                this.$http.post('http://localhost:3000/api/stories', story).then(function() {
                    story.editing = false;
                    vm.fetchStories();
                });
            }
        }
    });

    var vm = new Vue({
        el : "#app",
        data : {
            stories : [],
        },
        mounted : function() {
            this.fetchStories()
        },
        methods : {
            createStory : function() {
                var newStory = {
                    "plot" : " ",
                    "writer" : " ",
                    "upvotes" : 0,
                    "editing" : true
                };
                this.stories.push(newStory);
            },
            fetchStories : function() {
                this.$http.get('http://localhost:3000/api/stories')
                .then(function(res) {
                    var storiesReady = res.data.map(function(story) {
                        story.editing = false;
                        story.resetPlot = '';
                        story.resetWriter = '';
                        return story;
                    })
                    Vue.set(vm, 'stories', storiesReady)
                })
            }
        }
    })
  </script>
</html>