<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Vue</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
      <div class="container">
          <story></story>
      </div>
  </body>
  <!--
      type="text/template으로 설정된 scripte 태그를 story-template의 id로 생성"
      <script type="text/template" id="story-template">
        <h1>My horse is amazing!</h1>
      </script>
  -->
  <!-- template HTML 태그를 만들고 id를 지정 -->
  <template id="story-template">
      <h1>My horse is amzing!</h1>
  </template>
  <script src="https://unpkg.com/vue"></script>  
  <script>
      Vue.component('story', {
          template : '#story-template'
      });
      new Vue ({
          el : '.container',
      })
  </script>
</html>